<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>TaskMaster</title>
</head>
<body>
  <div class="container mt-5 w-75">

    <div th:replace="~{fragments :: header(list)}"></div> 
	
	<div class="jumbotron bg-light border border-info mt-3 py-4" style="min-height: 450px">
	  <h1>Update Activity</h1>
	  <form th:action="@{/activityupdate}" th:object="${activity}" method="post">
		  <div class="form-group">
		    <label for="activityId">Activity Id:</label>
		    <input type="text" class="form-control" th:field="*{activityId}" readonly>
		  </div>
		  
		  <div class="form-group">
           	<label for="taskId">Task:</label>
            <select class="form-control" th:field="*{taskId}">
                <option th:each="task : ${tasks}" th:value="${task.taskId}" th:text="${task.taskName}"></option>
            </select>
          </div>
		  
		  <div class="form-group">
		    <label for="location">Location:</label>
		    <input type="text" class="form-control" th:field="*{location}" required>
		  </div>
		  <div class="form-group">
		    <label for="notes">Notes:</label>
		    <input type="text" class="form-control" th:field="*{notes}" required>
		  </div>
		  
		  <div class="form-group">
		    <label for="activityStatus">Status:</label>
		    <input type="text" class="form-control" th:field="*{activityStatus}" required>
		  </div>
		  
		  <div class="form-group">
		    <label for="dateCreated">Date Created:</label>
		    <input type="date" class="form-control" th:field="*{dateCreated}" required>
		  </div>
		  
		  <div class="form-group">
		    <label for="timeStart">Time Started:</label>
		    <input type="time" class="form-control" th:field="*{timeStart}" required>
		  </div>
		  
		  <div class="form-group">
		    <label for="timeEnd">Time Completed:</label>
		    <input type="time" class="form-control" th:field="*{timeEnd}" required>
		  </div>
		  
<!-- 		  <div class="form-group"> -->
<!-- 		    <label for="dateUpdated">Date Updated:</label> -->
<!-- 		    <input type="text" class="form-control" th:field="*{dateUpdated}" required> -->
<!-- 		  </div> -->
		  
		  <button type="submit" class="btn btn-primary mt-2" style="min-width: 100px">Save</button>
	  </form>
	</div>
  </div>

  <div th:replace="~{fragments :: scripts}"></div>
   
</body>
</html>