<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create Task Form</title>
</head>
<body>
    <h2>Create Task</h2>
    <form action="/createTask" method="post">
        <label for="taskName">Task Name:</label><br>
        <input type="text" id="taskName" name="taskName"><br>
        <label for="clientName">Client Name:</label><br>
        <input type="text" id="clientName" name="clientName"><br><br>
        <input type="submit" value="Create Task">
    </form>
</body>
</html>
