<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>Task Master</title>
</head>
<body>
  <div class="container mt-5 w-75">

    <div th:replace="~{fragments :: header(list)}"></div> 
	
	<div class="table-responsive mt-3">
		<table class="table table-striped table-hover">
		  <thead>
		    <tr>
		      <th scope="col">Task No.</th>
		      <th scope="col">Task Name</th>
		      <th scope="col">Task Description</th>
		      <th scope="col">Task Type</th>
		      <th scope="col">Client</th>
		      <th scope="col">#</th>
		      <th scope="col">#</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr th:each="task: ${tasks}">
		      <th th:text="${task.taskId}" />
		      <td th:text="${task.taskName}"/>
		      <td th:text="${task.taskDescription}"/>
		      <td th:text="${task.taskType}"/>
		      <td th:text="${task.clientName}"/>
		      <td class="text-right"><a th:href="@{/taskupdate/} + ${task.taskId}" class="btn btn-warning btn-sm">Update</a></td>
		      <td><a class="btn btn-danger btn-sm">Delete</a></td>
		    </tr>
		  </tbody>
		</table>	
	</div>

  </div>

  <div th:replace="~{fragments :: scripts}"></div>
   
</body>
</html>