<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
<title>TaskMaster</title>
</head>
<body>
  <div class="container mt-5 w-75">

    <div th:replace="~{fragments :: header(list)}"></div> 
	
	<div class="jumbotron bg-light border border-secondary mt-3 py-4" style="min-height: 450px">
	  <h3 class="text-secondary">Update Task</h3>
	  <form th:action="@{/taskupdate}" th:object="${task}" method="post">
		  <div class="form-group">
		    <label for="taskId">Task Id:</label>
		    <input type="text" class="form-control" th:field="*{taskId}" readonly>
		  </div>
		  <div class="form-group">
		    <label for="taskName">Task Name:</label>
		    <input type="text" class="form-control" th:field="*{taskName}" required>
		  </div>
		  <div class="form-group">
		    <label for="taskDescription">Task Description:</label>
		    <input type="text" class="form-control" th:field="*{taskDescription}" required>
		  </div>
		  <div class="form-group">
		    <label for="taskType">Task Type:</label>
		    <input type="text" class="form-control" th:field="*{taskType}" required>
		  </div>
		  
		  <div class="form-group">
		    <label for="clientName">Client Name:</label>
		    <input type="text" class="form-control" th:field="*{clientName}" required>
		  </div>
		  <button type="submit" class="btn btn-primary mt-2" style="min-width: 100px">Save</button>
	  </form>
	</div>
  </div>

  <div th:replace="~{fragments :: scripts}"></div>
   
</body>
</html>